<div class="header">
    <div class="avatar">
        <a href="/">
            <img src="@Context.String(BlogKeys.Image)" alt="@Context.String(BlogKeys.Image)" />
        </a>
    </div>
	<h1 class="site-title"><a href="/">@Context.String(BlogKeys.Title)</a></h1>
	<div class="site-description">
		<p>@Context.String(BlogKeys.Intro)</p>
		<nav class="nav social">
			<ul class="flat">
                <li><a href="https://github.com/niteshrestha" title="Github"><i data-feather="github"></i></a></li>
                <li><a href="https://twitter.com/ripleywopr" title="Twitter"><i data-feather="twitter"></i></a></li>
                <li><a href="https://www.linkedin.com/in/niteshrestha/" title="LinkedIn"><i data-feather="linkedin"></i></a></li>
                <li><a href="mailto:hello@niteshrestha.com.np" title="Email"><i data-feather="mail"></i></a></li>
                <li><a href="@Context.GetLink(Context.String(BlogKeys.RssPath))" title="RSS"><i data-feather="rss"></i></a></li>
			</ul>
		</nav>
        <span class="scheme-toggle"><a href="#" id="scheme-toggle"></a>
	</div>

	<nav class="nav">
		<ul class="flat">
			<li>
				<a href="/">Home</a>
			</li>
			<li>
				<a href="/posts">All posts</a>
			</li>
			<li>
				<a href="/about">About</a>
			</li>
			<li>
				<a href="/tags">Tags</a>
			</li>
		</ul>
	</nav>
</div>
