<div class="container wrapper">
    @Html.Partial("_Header")
    <div class="recent-posts section">
        <div class="posts">
            @{
                foreach(IDocument post in Documents[Blog.BlogPosts].Take(6))
                {
                    DateTime Published = post.Get<DateTime>(BlogKeys.Published).Date;
                    <div class="post">
                        <div class="post-header">
                            <div class="meta">
                                <div class="date">
                                    <span class="day">@Published.ToString("dd")</span>
                                    <span class="rest">@Published.ToString("MMM") @Published.Year</span>
                                </div>
                            </div>
                            <div class="matter">
                                <h4 class="title small">
                                    <a href="@Context.GetLink(post)">@post.WithoutSettings.String(BlogKeys.Title)</a>
                                </h4>
                                <span class="description">
                                    @Html.Raw(post.String(BlogKeys.Lead))
                                </span>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>