@section Header {
    @Html.Partial("_IndexHeader")
}

<div class="row">
    <div class="col">
        @{
            bool first = true;
            foreach(IDocument post in Documents[Blog.BlogPosts].Take(5))
            {
                if (!first)
                {
                    <hr />
                }
                first = false;
                string lead = post.String(BlogKeys.Lead);
                <div class="post-preview">
                    <a href="@Context.GetLink(post)">
                        <h2 class="post-title">@post.WithoutSettings.String(BlogKeys.Title)</h2>
                        @if(!string.IsNullOrWhiteSpace(lead))
                        {
                            <h3 class="post-subtitle">@lead</h3>
                        }
                    </a>
                    <p class="post-meta">Posted on @(post.Get<DateTime>(BlogKeys.Published).ToLongDateString(Context))</p>
                    @if(Context.Bool(BlogKeys.IndexFullPosts))
                    {
                        @Html.Raw(post.Content)
                    }
                    else
                    {
                        @Html.Raw(post.String(BlogKeys.Excerpt))
                    }
                </div>
            }
        }
        @if(!Context.Bool(BlogKeys.IndexPaging))
        {
            @if(Context.Bool(BlogKeys.GenerateArchive))
            {
                <ul class="pager">
                    <li class="next">
                        <a href="@Context.GetLink(Context.String(BlogKeys.PostsPath))">Older Posts &rarr;</a>
                    </li>
                </ul>
            }
        }
    </div>
</div>