@{
    var Published = Model.Get<DateTime>(BlogKeys.Published);
    var Tags = Model.Get<string[]>(BlogKeys.Tags);
}
<div class="container wrapper">
    @Html.Partial("_Header")
    <div class="post">
        <div class="post-header">
            <div class="meta">
                <div class="date">
                    <span class="day">@Published.ToString("dd")</span>
                    <span class="rest">@Published.ToString("MMM") @Published.Year</span>
                </div>
            </div>
            <div class="matter">
                <h1 class="title">@Model.WithoutSettings.String(BlogKeys.Title)</h1>
            </div>
        </div>
        <div class="markdown">
            @RenderBody()
        </div>

        <div class="tags">
            <ul class="flat">
                @foreach (string tag in Tags.OrderBy(x => x))
                {
                    IDocument tagDocument = Documents[Blog.Tags].FirstOrDefault(x => x.String(BlogKeys.Tag) == tag && x.Get<int>(Keys.CurrentPage) == 1);
                    if(tagDocument != null)
                    {
                        <li><a href="@Context.GetLink(tagDocument)">@tag</a></li>
                    }
                }
            </ul>
        </div>

        @Html.Partial("_PostFooter.cshtml")
    </div>
</div>

@{
    Layout = "_Layout.cshtml";
}
