@model IEnumerable<IDocument>

@{
    foreach (IDocument post in Model)
    {
        string lead = post.String(BlogKeys.Lead);
        DateTime Published = post.Get<DateTime>(BlogKeys.Published).Date;
        <li class="post">
            <div class="post-header">
                <div class="meta">
                    <div class="date">
                        <span class="day">@Published.ToString("dd")</span>
                        <span class="rest">@Published.ToString("MMM") @Published.Year</span>
                    </div>
                </div>
                <div class="matter">
                    <h4 class="title small">
                        <a href="@Context.GetLink(post)">@post.WithoutSettings.String(BlogKeys.Title)</a>
                    </h4>
                    <span class="description">
                        @lead
                    </span>
                </div>
            </div>
        </li>
    }
}