<ul>
    @foreach(var post in Model.DocumentList(Keys.PageDocuments)){

    <li>
        <a href="@Context.GetLink(post)">
            <h2>@post.WithoutSettings.String(BlogKeys.Title)</h2>
            @post.String(BlogKeys.Excerpt)
        </a>
    </li>

    }
</ul>

<ul class="pagination">
    @if(Model.Bool(Keys.HasPreviousPage))
    {
        <a href="@(Context.GetLink(Model.Document(Keys.PreviousPage)))" class="page-link" aria-label="Previous"><span aria-hidden="true">← Prev page</span></a>
    }

    @if(Model.Bool(Keys.HasPreviousPage))
    {
        <a href="@(Context.GetLink(Model.Document(Keys.NextPage)))" class="page-link" aria-label="Next"><span aria-hidden="true">Next page →</span></a>
    }
</ul>